* {
  margin: 0px;
}

body {
  width: 100%;
}
body > div:first-child {
  width: 100%;
  background-color: black;
}

body > div:first-child > div {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

body > div:nth-child(2) {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

body > div:nth-child(2) > div:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

body > div:nth-child(2) > div:nth-child(3) {
  margin-left: 216px;
  margin-top: -244px;
}

body > div:nth-child(2) > div:nth-child(4) {
  margin-left: 432px;
  margin-top: -244px;
}

body > div:nth-child(2) > div:nth-child(2) > div {
  width: 180px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid ;
  text-align: center;
  background-color: pink;
  line-height: 38px;
}

body > div:nth-child(2) > div:nth-child(3) > div {
  width: 180px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid ;
  text-align: center;
  background-color: pink;
  line-height: 38px;
}

body > div:nth-child(2) > div:nth-child(4) > div {
  width: 180px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid ;
  text-align: center;
  background-color: pink;
  line-height: 38px;
}

body > div:nth-child(2) > div:nth-child(2) > div:hover {
  background-color: red;
}

body > div:nth-child(2) > div:nth-child(3) > div:hover {
  background-color: red;
}

body > div:nth-child(2) > div:nth-child(4) > div:hover {
  background-color: red;
}

p {
  border: 1px dotted transparent;
  border-bottom-color: black;
}

.a {
  margin-bottom: 20px;
}

.b {
  text-align: center;
}

.c {
  background-color: pink;
}